.sideBarContainer{
  margin-top: 50px;
  font-family: 'work sans', sans-serif;
  font-weight: 600;
  background:white;
  position: relative;
	width: 80%;
  z-index: 3;
  font-size: 20px;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  text-align: right;
  list-style: none;
}
.side-dropdown{
  border-bottom: solid #f0f2f4;
}
#barList{
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
#barList li a{
  text-align: left;
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: white ;
  color: #1e556f;
  text-decoration: none;
}
#barList li a:visited{
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background:white;
  color: black;
  text-decoration: none;
}
/*
#barList li a:hover,
#barList li a:visited:hover {
  background: #808080 ;
  color: #ffffff;
}
*/
#bar-toggle{
  text-decoration: none;
}
#bar-toggle h2{
  font-size: 32px;
  color: #1e556f;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  margin-left: 5px;
  width: 80%;
}
#bar-toggle img{
  float: left;
  width: 32px;
  height: auto;
}
.side-dropdown-list{
  list-style: none;
  display: none;
  font-size: 14px;
}
.side-dropdown-list li{
  text-align: left;
  margin-bottom: 6px;
  font-size: 16px;
  color: black;
}
.side-dropdown-list li a{
text-align: right;
padding-bottom: 50px !important;
}

.sidebarArrow{
  display: inline-block !important;
  float: right;
}
@media (max-width: 1000px){
  .sideBarContainer{
    margin-left: 0px;
    margin-top:0;
    width: 100%;
    padding-bottom: 20px;
  }
  #barList{
    display: none;
  }
  #bar-toggle h2{
    float: none;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
  }
  #bar-toggle a{
    display: inline-block;
  }
  /*.sideBarContainer hr{
    display: none;
  }*/

    .sideBar {
    /* margin-left: 30px; */
    /* margin-right: 20px; */
    /* margin-bottom: 30px; */
    margin-left: auto;
    width: 90%;
    margin-right: auto;
  }
}
