#hr2a{
  width: 20%;
}
#hr1a{
  width:90%;
}
#hr3a{
  width: 20%;
}
#headerImg{
  margin-top: -10vw;
}
main{
  padding-bottom:100px;
}
.topCard{
  margin-top: -100px;
}
.topCard p{
  font-size: 22px;
  color: #1e556f;
}
.people{
  width: 90%;
  margin-left:auto;
  margin-right: auto;
}
.person{
  display: inline-block;
  color: #1e556f;
  margin-left:10px;
  margin-right:10px;
  }
.person img{
  width: 90%;
  height: auto;
}

#hr1{
  max-width: 1450px;
  margin-bottom: 100px;
}
.grid img{
  margin-right: 50px;
  height: 450px;
  width: auto;
  float: right;
}
.contact{
  margin-left: 5vw;
  margin-right: 5vw;
  width: 500px;
  background-color: white;
}
.contact h1{
  margin-top: 50px;
  font-weight: 100;
  letter-spacing: 5px;
}
.contact h2{
  margin-top: 20px;
  margin-bottom: 40px;
}
.socialss{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.socialss a{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  width: auto;
  display: inline-block;
}
.socialss a img{
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 60px;;
}
.grid {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
}
.gridContainer{
  margin-top: 100px;
  text-align: center;
}
@media(max-width:1200px){
  .socialss{
    width: 70vw;
    margin-right:15vw;
    margin-left: 15vw;
  }
  #headerImg{
    margin-top: 0;
  }
  .grid{
    grid-template-columns: 1fr;
  }
  .grid img{
    margin-top: 100px;
    width: 70vw;
    margin-left: 15vw;
    margin-right:15vw;
    height:auto;
  }
  .contact{
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    background-color: white;
  }
}
#bold{
  font-weight: 700;
}
@media(max-width:1300px){
  .person{
    display: block;
    width: 350px;
    height: auto;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

}
