footer{
  bottom:0;
  margin-bottom: 0;
}
main{
  margin-top: 70px;
}
.info h1{
  float: left;
}
.cat{
  float: left;
}
.val{
  float: right;
}
.gridContainer{
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.info{
  margin-right: 80px;
  line-height: 6px;
}
.price{
  font-size: 48px;
  margin-top: 30px;
}
.contact{
  width: 100%;
  background-color: White;
}

/*--slides css--*/
.caraContainer{
  margin: auto;
  margin-top: -80px;
  max-width: 1200px;
  margin-bottom: 70px;
}
.slideshow-container{
  margin: auto;
}
.mySlides img{
  width:80%;
  margin: auto;
  height: auto;
}
.slideNavigation{
  display: inline-block;
}
.slideNavigation button{
  display: inline-block;
  color: white;
  height: 13vw;
  width: 5vw;
  border-radius: 2vw;
  background-color: #013f5b;
  box-shadow: 0;
  border: none;
  font-size: min(5vw, 56px);
  max-height:160px;
  max-width: 60px;
}
.slideNavigation button:hover{
  cursor: pointer;
}
.slideNavigation a{
  padding-top: 5vw;
  height: 80px;
  vertical-align: middle;
}
.slideNavigation a img{
  display: inline-block;
  width: 15%;
  height: auto;
  margin-left: 3px;
  margin-right: 3px;
}
.slideNavigation a:hover{
  cursor: pointer;
}
