footer{
  bottom:0;
  margin-bottom: 0;
}
main{
  margin-top: 70px;
}
.caraContainer img{
  background-color: white;
}
.info h1{
  float: left;
}
.cat{
  float: left;
}
.val{
  float: right;
}
hr{
  max-width: 1400px;
  margin-bottom: 0;
}
.gridContainer{
  margin-top: -50px;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.info{
  margin-right: 80px;
  line-height: 6px;
}
.price{
  font-size: 48px;
  margin-top: 30px;
}
.contact{
  width: 100%;
  background-color: White;
}

/*--slides css--*/
.caraContainer{
  padding-top: 140px;
  margin: auto;
  margin-top: -80px;
  max-width: 1200px;
  margin-bottom: 70px;
}
.slideshow-container{
  margin: auto;
}
.mySlides img{
  width:80%;
  margin: auto;
  height: auto;
}
.slideNavigation{
  display: inline-block;
}
.slideNavigation button{
  display: inline-block;
  color: white;
  height: 13vw;
  width: 5vw;
  border-radius: 2vw;
  background-color: #013f5b;
  box-shadow: 0;
  border: none;
  font-size: min(5vw, 56px);
  max-height:160px;
  max-width: 60px;
}
.slideNavigation button:hover{
  cursor: pointer;
}
.slideNavigation a{
  padding-top: 5vw;
  height: 80px;
  vertical-align: middle;
}
.slideNavigation a img{
  display: inline-block;
  width: 15%;
  height: auto;
  margin-left: 3px;
  margin-right: 3px;
}
.slideNavigation a:hover{
  cursor: pointer;
}
.contact h1{
  text-align: left;
  margin-left: 10px;
  margin-bottom: -30px;
  margin-top: 0;
}
.contact h2{
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
}
.contact input{
  border-radius: 23px;
  border-width: 1px;
  border-color: #1e556f;
  font-size: 18px;
  margin-bottom: 5px;
  color: #4f7a8e;
}
#fname{
  width: 45%;
  height: 45px;
  float: left;
  margin-left: 10px;
  border-radius: 23px;
  border-width: 1px;
  border-color: #1e556f;
}
#lname{
  width: 45%;
  height: 45px;
  float: right;
  margin-right: 10px;
}
#email{
  width: 60%;
  height: 45px;
  float: left;
  margin-left: 10px;

}
#phone{
  width: 30%;
  height: 45px;
  float: right;
  margin-right: 10px;
}
#message{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 23px;
  border-width: 1px;
  border-color: #1e556f;
  font-size: 18px;
  margin-bottom: 5px;
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
    color: #4f7a8e;
    margin-left: 10px;
    margin-right: 10px;
}
#submit{
  margin-top: 20px;
  height: 35px;
  width: 220px;
  border-color: none;
  background-color: #1e556f;
  border-radius: 10px;
  color: white;
  padding: 0;
  padding-top: 0;
  margin-bottom: 20px;
}
#submit h1{
  font-weight: normal;
  text-align: center;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width:1200px){
  .gridContainer{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact{
    margin-top: 100px;
  }
  .info{
    margin-left: auto;
    margin-right: auto;
  }
}
