main{
  padding-top: 70px;
}
.sideBar{
  margin-top: 0;
  height: 100%;
}
.filterGrid{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-right: 30px;
}
.content{
  margin-top: 50px;
  background-color: white;
  display: inline-block;
}
@media (max-width:1000px){
  .filterGrid{
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
}
.card{
  width: 200px;
  height: 200px;
  background-color: red;
  margin:10px;
  margin-left: 0;
  margin-right: 0;

}
