.carOptions img{
  width: 15vw;
  height: auto;
  display: inline-block;
  max-width: 240px;/*170*/
}
.carOptions button{
  vertical-align:top;
  height: 15vw;
  max-height: 240px;
  border-radius: 0;
  border-color: #1e556f;
}
.carOptions p{
    margin-top: -5%;
    font-size: min(1.5vw, 28px);
}
.calc{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.calcOptions{
  margin-bottom: 5vw
}
.calcOptions p{
  font-size: min(3vw, 56px);
  font-weight: 500;

}
.calc button{
  width: 12vw;
  height: 12vw;
  border-radius: 20vw;
  font-size: 9vw;
  color: #1e556f;
  border-color: #1e556f
}
#headerImg{
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom:0;
}
#quizButton{
  width: 25vw;
  max-width: 400px;
  height: 4vw;
  max-height: 50px;
  background-color: #d25353;
  border-radius: 1vw;
  font-family: highgate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: min(1.5vw, 24px);
  color: #f0f2f4;
}
@media screen and (min-width: 1600px){
  #quizButton{
    border-radius: 10px;
  }
}
#timeGrid{
  margin-top: -5px;
}
#hr1{
  margin-top: -35px;
}
.hours{
  width: 80%;
  margin-left: 20%;
  background-color: white;
}
.times{
  text-align: right;
  margin-right: 40px;
  font-weight: 700;
}
.days{
  text-align: left;
  margin-left: 40px;
}
h2{
  font-family: highgate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: min(4vw, 56px);
}
p{
  font-family: highgate, sans-serif;
  color: #1e556f;
  font-size: 1.5vw;
}
#ohio{
  margin-top: -40px;
  height: auto;
  width: 100%;
}
