*{
  scroll-behavior: smooth;
}
main{
  background: #f0f2f4;
  align-items: center;
  text-align: center;
  font-family: highgate, sans-serif;
  color: #1e556f;
}
#headerImg{
  z-index: 10;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom:0;
}
@media(min-width: 1580px) {
  #headerImg{
    margin-top: -13vw;
  }
}
.scale{
transition: .2s ease-in-out 0s;
}
.scale:hover{
   cursor: pointer;
   transform: scale(1.15);
   }
