*{
  scroll-behavior: smooth;
}
.topCard{
  margin-bottom: 70px;
  position: relative;
  z-index: 1000;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  width:90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  background-color: white;
  border-radius: 10px;
}
main{
  background: #f0f2f4;
  align-items: center;
  text-align: center;
  font-family: highgate, sans-serif;
  color: #1e556f;
}
#headerImg{
  z-index: 10;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom:0;
}
@media(min-width: 1580px) {
  #headerImg{
    margin-top: -4vw;
  }
  .topCard{
    margin-bottom: 70px;
    position: relative;
    z-index: 1000;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    width:90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    background-color: white;
    border-radius: 10px;
  }
}
hr{
  height: 4px;
  border-style: none;
  border-radius: 2px;
  background-color: #d25353;
}
.scale{
transition: .2s ease-in-out 0s;
}
.scale:hover{
   cursor: pointer;
   transform: scale(1.15);
   }
