body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}

nav{
  margin-top: 150px;
  font-family: 'work sans', sans-serif;
  font-weight: 600;
  height: 70px;
  background:#595959 ;
  position: absolute;
	top: 0;
	width: 100%;
  z-index: 3;
  box-shadow: 0px 5px 10px #262A2B;
  font-size: 20px;
  z-index: 10000;
  text-align: center;
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #595959  ;
  height: 70px;
  width: 70px;
}
#nav-desktop{
  height: 100%;
  margin-top: -1px;
}
#nav-desktop a {
  position: relative;
  top: 25%;
}

.desktop-content{
  display:inline-block;
  height: 100%;
}
.dropdown-desktop{
  display:inline-block;
  height: 100%;
}
.dropdown-hover{
  position: relative;
  top: 25%;
}
.dropdown-content-desktop{
  text-align: left;
  list-style: none;
  position: absolute;
  z-index: -10;
  margin-top: 6px;
  width: 100%;
}
.dropdown-content-desktop li{
  margin-left: -40px;
  margin-top: 0;
  background-color: #595959;
  width: 100%;
  height: 60px;
  display: none;
}
.dropdown-content-desktop li a{
  top:0;
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #595959;
}
.nav-mobile-contnet{
  display: none;
  float: left;
  text-align: left;
  margin-top: 70px;
  background-color: #595959;
  width: 100%;

}
.nav-mobile-contnet ul{
  margin:0;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.nav-mobile-contnet li a{
  padding-left: 0;
  height: 50px;
  width: 100%;
  display:block;
  font-size: 30px;
}
.mobile-drop-content{
  display: block;
  list-style: none;
}
.mobile-drop-content li a{
  height: 30px;
  font-size: 22px;
  display: block;
}
.arrow{
  display: inline-block;
}
nav a{
  color:white;
  text-decoration: none;
  font-size: 24px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 22px;
  height: 100px;
}
nav a:hover{
  background-color: #808080;
}
#nav-toggle:hover{
  background-color:transparent;
}
@media only screen and (min-width: 1111px){
.nav-mobile-contnet {
  display: none;
}
}
@media only screen and (max-width: 1110px) {
  .nav-mobile{
    display: block;
  }
  #nav-desktop a{
    display: none;
  }
#nav-toggle {
  background-color: transparent;
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: #595959;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.active{
  background-color: #a64d4d ;
}
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
@keyframes roll {

  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
